.choice-container {
    display: flex;
    margin-bottom: 0.5vw;
    height: 10rem;
    width: 100%;
    font-size: 150%;
    border: 0.4vw solid rgb(86, 164, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 1vw 1.4vw 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-0.2vw);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 4rem 4rem;
    background-color: #0088ff;
    color: white;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.choice-text {
    padding: 2%;
    width: 90%;
    font-size: 120%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/*HUD*/

#hud {
    display:flex;
    justify-content: space-evenly;
}

.hud-prefix {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
}

.hud-main-text {
    text-align: center;
}